@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("C:\Users\bnvig\OneDrive\Documents\fullstack-projects\chat app\frontend\public\bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}